<div class="wfe-application-mainmenu" style="height:50px">
    <div style="float:left">
        <div class="logotitle">
            <a href="https://www.kalelogistics.com"><img height="32" src="@Url.Content("~/images/logo.png")" /></a></div>
    </div>
    <div style="float:right">
        <a href="/Document/Edit" class="ui primary button">Create Airway Bill</a>
        <a href="/Designer" class="ui secondary button">Create a Workflow</a>
        <a href="/" class="ui secondary button">View Airway bills</a>
        <a href="@Url.Action("Edit", "Settings")" class="ui secondary button">Settings</a>
    </div>
</div>